.CategoryProductDivStyle {
    box-shadow:  0px 0px 3px 0px #d1d1d1;
    width: 102%;
    background-color: white;
    height: 300px;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
}