.add6-1{
    width: 100%;
    border-radius: 16px;  
}

.add6-2{
    width: 105%;
    margin-top: 15px;
    border-radius: 16px;
    margin-right: -5px;
}

.add6-3{
    width: 105%;
    margin-top: 15px;
    border-radius: 16px;
    margin-right: -10px;
}

.add6-4{
    width: 105%;
    margin-top: 15px;
    border-radius: 16px;
    margin-right: -15px;
}